.order {
	padding: 2.5px;
	border-bottom: 1px solid lightgray;
}
.order > * {
  padding: 0.5px 0px;
}
.order .active{
  color: orange;
}
.order .delivering{
  color: green;
}
.order .arrived{
  color:green;
}