<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Introduce tu código</h2>
    <form class="row g-3" action="/riderLogin" method="POST">
        <div class="col-auto">
            <label class="form-label">Código</label>
            <input type="number" class="form-control" id="code" name="code" step="0">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
</body>

</html>