<!-- To edit an order-->
<div class="modal" id="showDetailOrder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!--<div class="mb-3">
                        <label class="form-label">Order ID</label>
                        <input type="text" class="form-control" id="gloriaId">
                    </div>-->
                    <div class="mb-3">
                        <label class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">CP</label>
                            <input type="text" class="form-control" id="cp">
                        </div>
                        <div class="col">
                            <label class="form-label">Ciudad/Zona</label>
                            <input type="text" class="form-control" id="city">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="col">
                            <label class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="phone">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Restaurante</label>
                        <input type="text" class="form-control" id="restaurant" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Método de pago</label>
                        <input type="text" class="form-control" id="payment">
                    </div>
                    <div class="mb-3" id="status-row">
                        <label class="form-label">Estado</label>
                        <input type="text" class="form-control" id="status">
                    </div>
                    <input type="hidden" id="orderId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="buttom-modify"
                    onclick="modifyOrder()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="buttom-save" onclick="saveNewOrder()">Guardar</button>
                <button type="button" class="btn btn-primary" id="buttom-complete"
                    onclick="completeOrder()">Completar</button>
            </div>
        </div>
    </div>
</div>