#orders_body{
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}
.order{
    display: flex;
    border-bottom: solid 1px lightgray;
}
.order div{
    flex: 1;
}
.order .active{
    color:orange;
}
.order .delivering{
    color: green;
}