.navbar{
    /* background-color: #5498ff; */
    padding: 0px 10px;
    /* border-radius: 5%; */
    border-right: 1px solid gray;
}
.col{
    height: 100%;
}
.container{
    /* height: 100vh; */
    /* overflow: hidden; */
}