<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Actives orders</title>

    <link rel="stylesheet" href="css/orders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <%- include('components/editOrder.ejs'); %>
    <%- include('components/assignRider.ejs') %>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Pedidos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="resumen-tab" data-bs-toggle="tab" data-bs-target="#resumen" type="button"
                role="tab" aria-controls="resumen" aria-selected="true">Resumen</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false" onclick="updateHistory()">Histórico</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="mapa-tab" data-bs-toggle="tab" data-bs-target="#mapa" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Mapa</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- Active orders -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div style="text-align: right;margin-right: 10px;">
                <button class="btn btn-primary" onclick="showNewOrderModal()">Nuevo pedido</button>
            </div>
            <div id="orders_body">
                <div class="order headers">
                    <div class="id">ID</div>
                    <div class="address">Direccion</div>
                    <div class="payment">Entrega</div>
                    <div class="duration">Duración</div>
                    <div class="duration-extra">Restante</div>
                    <div class="restaurant">Restaurante</div>
                    <div class="rider">Rider</div>
                    <div class="status">Estado</div>
                    <div class="actions">Actions</div>
                </div>
                <div id="orders"></div>
            </div>
            <!-- Panel with the raiders -->
            <div id="position-riders">
            </div>
            <!-- -->
        </div>
        <!-- Resumen -->
        <div class="tab-pane fade" id="resumen" role="tabpanel" aria-labelledby="resumen-tab">
            <div id="resumen_body">
                <label for="date" class="form-label">Fecha:</label>
                <input type="date" id="date" name="trip-begin">
                <button onclick="updateResumen()" class="btn btn-primary">Cargar</button>
                <div>
                    Rendimiento (En desarrollo)
                </div>
                <div>
                    Pedidos
                    <div id="resumen">
                        <div class="order headers">
                            <div class="id">ID</div>
                            <div class="address">Dirección</div>
                            <!-- <div class="restaurant">Restaurante</div> -->
                            <div class="rider">Rider</div>
                            <!-- <div class="status">Estado</div> -->
                            <div>Accepted</div>
                            <div>Delivering</div>
                            <div>Arrived</div>
                            <div>Completed</div>
                            <div>Fulfill</div>
                            <div class="actions">Actions</div>
                        </div>
                        <div id="ordersResumen"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- History orders -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div id="orders_body">
                <div class="order headers">
                    <div class="id">ID</div>
                    <div class="address">Direccion</div>
                    <div class="restaurant">Restaurante</div>
                    <div class="rider">Rider</div>
                    <div class="status">Estado</div>
                    <div class="actions">Actions</div>
                </div>
                <div id="ordersHistory"></div>
            </div>
            <!-- -->
        </div>
        <div class="tab-pane fade" id="mapa" role="tabpanel" aria-labelledby="mapa-tab">
            <img src="/img/mapa.png" alt="" style="width: 100vw;max-height: 95vh;">
        </div>
    </div>
    <!-- template for a generic order  -->
    <template id="order_template">
        <div class="order">
            <div class="id"></div>
            <div class="address"></div>
            <div class="fulfill_at"></div>
            <div class="duration"></div>
            <div class="duration-extra"></div>
            <div class="restaurant"></div>
            <div class="rider"></div>
            <div class="status"></div>
            <div class="actions">
                <i class="fas fa-motorcycle" onclick="showRiderList(this.parentNode)"></i>
                <i class="far fa-edit" onclick="showOrderDetailsEdit(this.parentNode)"></i>
                <i class="fas fa-info" onclick="showOrderDetails(this.parentNode)"></i>
            </div>
            <input type="hidden" class="_id">
        </div>
    </template>

    <template id="order_template_resumen">
        <div class="order">
            <div class="id"></div>
            <div class="address"></div>
            <!-- <div class="restaurant"></div> -->
            <div class="rider"></div>
            <div class="step1">
                <div class="time"></div>
                <div class="duration"></div>
            </div>
            <div class="step2">
                <div class="time"></div>
                <div class="duration"></div>
            </div>
            <div class="step3">
                <div class="time"></div>
                <div class="duration"></div>
            </div>
            <div class="step4">
                <div class="time"></div>
                <div class="duration"></div>
            </div>
            <div class="fulfill_at">
                <div class="time"></div>
                <div class="success"></div>
            </div>
            <div class="actions">
                <i class="fas fa-info" onclick="showOrderDetails(this.parentNode)"></i>
            </div>
            <input type="hidden" class="_id">
        </div>
    </template>

    <template id="rider-list">
        <div class="rider">
            <div class="name"></div>
            <div class="position"></div>
        </div>
    </template>

    <script type='text/javascript' src='/js/jquery-3.5.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="/js/core.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/moment-timezone.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        let modify = false;
        
        // Update automatic the DOM when is complety loaded
        $(function () {
            update();
            // $('#date')[0].value = moment().tz('Europe/Madrid').format('Y-MM-DD')
            $('#date')[0].value = "2021-08-13";
            updateListRiders();

            setInterval(function () {
                if (!modify) update();
                // console.log("update");
            }, 20 * 1000);

            // Si entra algun pedido o se actualiza de alguna forma, se actualiza el dom entero
            var socket = io();
            socket.on('Orders', data => {
                console.log(data);
                update();
            })

        });

        var myModal = new bootstrap.Modal(document.getElementById('showDetailOrder'), {
            keyboard: false
        })
        var riderList = new bootstrap.Modal(document.getElementById('assignRider'), {
            keyboard: false
        })
    </script>
</body>

</html>