<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Actives orders</title>

    <link rel="stylesheet" href="css/orders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- To edit an order-->
    <div class="modal" id="showDetailOrder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--<div class="mb-3">
                            <label class="form-label">Order ID</label>
                            <input type="text" class="form-control" id="gloriaId">
                        </div>-->
                        <div class="mb-3">
                            <label class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="address">
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label">CP</label>
                                <input type="text" class="form-control" id="cp">
                            </div>
                            <div class="col">
                                <label class="form-label">Ciudad/Zona</label>
                                <input type="text" class="form-control" id="city">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="col">
                                <label class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="phone">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Restaurante</label>
                            <input type="text" class="form-control" id="restaurant" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Método de pago</label>
                            <input type="text" class="form-control" id="payment">
                        </div>
                        <div class="mb-3" id="status-row">
                            <label class="form-label">Estado</label>
                            <input type="text" class="form-control" id="status">
                        </div>
                        <input type="hidden" id="orderId">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="buttom-modify"
                        onclick="modifyOrder()">Actualizar</button>
                    <button type="button" class="btn btn-primary" id="buttom-save"
                        onclick="saveNewOrder()">Guardar</button>
                    <button type="button" class="btn btn-primary" id="buttom-complete"
                        onclick="completeOrder()">Completar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Assign rider -->
    <div class="modal" id="assignRider">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Repartidores</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ol class="list-group" id="riderList">
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="unassignRider()">Unassign</button>
                </div>
                <input type="hidden" id="idOrder">
            </div>
        </div>
    </div>
    <!-- -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Pedidos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false" onclick="updateHistory()">Histórico</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div style="text-align: right;margin-right: 10px;">
                <button class="btn btn-primary" onclick="showNewOrderModal()">Nuevo pedido</button>
            </div>
            <!-- Active orders -->
            <div id="orders_body">
                <div class="order headers">
                    <div class="id">ID</div>
                    <div class="address">Direccion</div>
                    <div class="payment">Entrega</div>
                    <div class="restaurant">Restaurante</div>
                    <div class="rider">Rider</div>
                    <div class="status">Estado</div>
                    <div class="actions">Actions</div>
                </div>
                <div id="orders"></div>
            </div>
            <!-- -->
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <!-- History orders -->
            <div id="orders_body">
                <div class="order headers">
                    <div class="id">ID</div>
                    <div class="address">Direccion</div>
                    <div class="restaurant">Restaurante</div>
                    <div class="rider">Rider</div>
                    <div class="status">Estado</div>
                    <div class="actions">Actions</div>
                </div>
                <div id="ordersHistory"></div>
            </div>
            <!-- -->
        </div>
    </div>

    <template id="order_template">
        <div class="order">
            <div class="id"></div>
            <div class="address"></div>
            <div class="fulfill_at"></div>
            <div class="restaurant"></div>
            <div class="rider"></div>
            <div class="status"></div>
            <div class="actions">
                <i class="fas fa-motorcycle" onclick="showRiderList(this.parentNode)"></i>
                <i class="far fa-edit" onclick="showOrderDetailsEdit(this.parentNode)"></i>
                <i class="fas fa-info" onclick="showOrderDetails(this.parentNode)"></i>
            </div>
            <input type="hidden" class="_id">
        </div>
    </template>

    <script type='text/javascript' src='/js/jquery-3.5.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="/js/core.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/moment-timezone.js"></script>

    <script>
        let modify = false;
        // Update automatic the DOM when is complety loaded

        $(function () {
            update();
            updateListRiders();

            setInterval(function () {
                if (!modify) update();
                // console.log("update");
            }, 10000);
        });

        var myModal = new bootstrap.Modal(document.getElementById('showDetailOrder'), {
            keyboard: false
        })
        var riderList = new bootstrap.Modal(document.getElementById('assignRider'), {
            keyboard: false
        })
    </script>
</body>

</html>