<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos por persona</title>
</head>

<body>
    Aqui puedes ver los pedidos por persona
    <!--<script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/js/service-worker.js').then(function (registration) {
                    // Registration was successful
                    console.log('Registered!');
                }, function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                }).catch(function (err) {
                    console.log(err);
                });
            });
        } else {
            console.log('service worker is not supported');
        }
        // service-worker.js
        self.addEventListener('install', function () {
            console.log('Install!');
        });
        self.addEventListener("activate", event => {
            console.log('Activate!');
        });
        self.addEventListener('fetch', function (event) {
            console.log('Fetch!', event.request);
        });
    </script>-->
</body>

</html>